<!--The content below is only a placeholder and can be replaced.-->

<br><br>
Category: {{questionInfo?.category.title | json}}
<br><br>
Question: {{questionInfo?.question | json}}

<br><br>
Point Value: {{questionInfo?.value | json}}
<br><br>

Answer: {{questionInfo?.answer | json}}

<br><br>

<div>
  <input type="text" [(ngModel)]="userAnswer" placeholder="Type your answer here">
</div>

<br><br>

<div>
  <button type="submit" id="submitAnswer" (click)="compareAnswer(answer)">Submit Answer</button>
</div>

<br><br>

<div>Total Score
  <div id="score">{{userScore}}</div>
</div>



